TwoDeeFramework/intermediate/
TwoDeeFramework/bin/TDF_Test/Win32/Release/TDF_Test.iobj
TwoDeeFramework/bin/TDF_Test/Win32/Release/TDF_Test.ipdb
TwoDeeFramework/bin/
TwoDeeFramework/docs/
TwoDeeFramework/TDF_Test/resources/
TwoDeeFramework/resources/
TwoDeeFramework/TDF_Test/test
TwoDeeFramework/TwoDeeFramework.VC.VC.opendb
TwoDeeFramework/TwoDeeFramework.VC.db
TwoDeeFramework/Game_Test/test
