TwoDeeFramework/intermediate/
TwoDeeFramework/bin/TDF_Test/Win32/Release/TDF_Test.iobj
TwoDeeFramework/bin/TDF_Test/Win32/Release/TDF_Test.ipdb
TwoDeeFramework/bin/
TwoDeeFramework/docs/
TwoDeeFramework/TDF_Test/resources/
